<!--コメントの一覧-->
<% brand.comments.each do |comment| %>
    <div class="col-10 offset-md-1" style="background-color: #fffffe; border: 2px solid #272343; border-radius: 2px;">
    <!-- rateを表示 -->
            <p>コメントした人：<%= comment.user.name %></p>
            <p>投稿日：<%= comment.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= comment.comment %></p>
            <span class="review-rating" data-score="<%= comment.rate %>">評価：</span>
                <% if comment.user == current_user %>
                   <span class="comments">
                      <%= link_to "削除", brand_comment_path(comment.brand, comment), method: :delete, remote: true,class: "btn btn-danger  inline-btn" %>
                    </span>
                <% end %>
    </div>
<% end %>

<!--星の表示-->
<script>
    $('.review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
        return $(this).attr('data-score');
        }
    });
</script>