<div class="container">
  <div class="col">
    <div class="row">
    <div class="col">
     <h3>銘柄登録</h3>

      <div class="col">
        <%= form_with model:@brand, url:brands_path, method: :post, local:true do |f| %>
        <table class="new-form-table">
          <tbody>
            <tr>
              <th>銘柄画像</th>
              <td><%= f.attachment_field :brand_image %></td>
            </tr>

            <tr>
              <th>産地名</th>
              <td><%= f.collection_select :prefecture_id, Prefecture.all , :id, :name , include_blank: "--選択してください--",class: "form-control" %></td>
            </tr>

            <tr>
              <th>銘柄名</th>
              <td><%= f.text_field :brand_name, class: "form-control" %></td>
            </tr>

            <tr>
              <th>JANコード</th>
              <td><%= f.text_field :jan, class: "form-control" %></td>
            </tr>

            <tr>
              <th>銘柄説明</th>
              <td><%= f.text_area :body, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <div>
        <%= f.submit "新規登録" ,class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>