<div class="container">
  <div class="col">
    <div class="row">
      <div class="col">
        <h3>銘柄登録</h3>
          <% if @brand.errors.any? %>
            <%= @brand.errors.count %>件のエラーが発生しました
            <% @brand.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>
          <div class="col">
            <%= form_with model:@brand, url:brands_path, method: :post, local:true do |f| %>
            <table class="new-form-table">
              <tbody>
                <tr>
                  <th>銘柄画像</th>
                  <td><%= f.attachment_field :brand_image, class: "form-control" %></td>
                </tr>

                <tr>
                  <th>産地名</th>
                  <td><%= f.collection_select :prefecture_id, Prefecture.all , :id, :name ,{ include_blank: "--選択してください--",:required => true}, {class: "form-control"} %></td>
                </tr>

                <tr>
                  <th>銘柄名<i class="fas fa-question-circle my-tooltip" title="（例）あきたこまち"></i></th>
                  <td><%= f.text_field :brand_name, class: "form-control",:required => true %></td>
                </tr>

                <tr>
                  <th>JANコード（13桁）<i class="fas fa-question-circle my-tooltip" title="商品のバーコード下部に記載されている数字です"></i></th>
                  <td><%= f.text_field :jan, class: "form-control",:required => true %></td>
                </tr>

                <tr>
                  <th>銘柄説明</th>
                  <td><%= f.text_area :body, class: "form-control" %></td>
                </tr>
              </tbody>
            </table>
            <div>
              <%= f.submit "新規登録" ,class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--ツールチップ-->
<script>
  $(".my-tooltip").tooltip();
</script>