<div class="container">
  <h3><span class="span"><%= Prefecture.find_by(id: @brand.prefecture_id).name %>産<%= @brand.brand_name %>
    <% if @brand.user_id == current_user.id %>
      <%= link_to "編集" , edit_brand_path(@brand.id) , class: "btn btn-success inline-btn" %>
      <%= link_to "削除" , brand_path(@brand.id) ,method: :delete, class: "btn btn-danger inline-btn" %></span>
    <% end %>
  </h3>
    <!--上部-->
    <div class="row">
      <div class="col-4 offset-md-1">
        <div class="img-top-ground"><%= attachment_image_tag @brand, :brand_image, size: '300x300',fallback: asset_path("no_image.jpeg"), class:"brand-image" %></div>
      </div>
      <div class ="col-7">
        <table class="table">
          <tbody>
            <tr>
              <th nowrap>産地名</th>
              <td><%= Prefecture.find_by(id: @brand.prefecture_id).name %></td>
            </tr>

            <tr>
              <th nowrap>銘柄名</th>
              <td><%= @brand.brand_name %></td>
            </tr>

            <tr>
              <th nowrap>JANコード</th>
              <td><%= @brand.jan %></td>
            </tr>

            <tr>
              <th nowrap>銘柄説明</th>
              <td><%= @brand.body %></td>
            </tr>

            <tr>
              <th nowrap>評価</th>
              <td class="average-review-rating" data-score=<%= @average_rate %>></td>
            </tr>
          </tbody>
        </table>
        <div id="brand_<%= @brand.id %>">
          <p class= "favorite-btn"><%= render "favorites/favorite-btn", brand: @brand %></p>
          <i class="fas fa-comments"></i><a class= "comments-count">コメント数：<%= @brand.comments.count %></a>
        </div>
      </div>
    </div>
    <!--コメント投稿欄-->
    <div class="row">
      <div class="col-11 offset-md-1">
        <%= form_with model:[@brand, @comment], remote: true do |f| %>
          <%= f.text_area :comment, rows:'5', placeholder: "コメントしてね",class: "form-control"%>
          <div id="rating-form">
            <%= f.label :rate%>
            <%= f.hidden_field :rate, :value => 'score' %>
            <span class="inline-btn">
            <%= f.submit "送信する",class:"btn btn-warning" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <!--コメント一覧-->
    <div class="row-11 offset-md-1 comments"><%= render 'comments/index', brand: @brand %></div>
</div>

<!--評価の平均-->
<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
  });
</script>

<!--評価送信-->
<script>
  $('#rating-form').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'comment[rate]'
  });
</script>

<!--comment/_index　評価結果-->
<script>
    $('.review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
        return $(this).attr('data-score');
        }
    });
</script>